<head>
  <script type="text/javascript" >
      document.addEventListener('readystatechange', () => {    
        if (document.readyState == 'complete'){
          div1 = document.getElementById('two');
          div2 = document.getElementById('header-title');
          div1.style.display = "block";
          div1.className ='fadein';
          div2.className='fadein';
        }
      });
  </script>
</head>
<body  onLoad="onStartAnimation()">
  <div class="cont">
    {{!-- <div id="one" class="box1">
        <button onCLick="javascript:unhide()" class="btn btn-default">Login</button>        
    </div> --}}
      <div id="two">
        <div class="box2">
          <h2 class="page-header">Login</h2>
          <form method="post" action="/users/login">
            <div class="form-group">
              <label>CPF de Usuário</label>
              <input type="text" class="form-control" minlength="11" maxlength="11" name="username" placeholder="CPF de usuário">
            </div>
            <div class="form-group">
              <label>Senha:</label>
              <input type="password" class="form-control" name="password" placeholder="Senha">
            </div>
            <button type="submit" class="btn btn-default">Entrar</button>
          </form>
        </div>
      </div>
  </div>
</body>