<!DOCTYPE html>
<html lang="en">
<script type="text/javascript" >
  function unhide() {
    div1 = document.getElementById('one');
    div2 = document.getElementById('two');
    div2.style.display = "block";
    div1.style.display = "none";
    div1.className ='fadeout';
    div2.className ='fadein';
    }

    document.onkeypress = keyPress;
    function keyPress(e){
        var x = e || window.event;
        var key = (x.keyCode || x.which);
        if(key == 13 || key == 3){
        //  myFunc1();
        document.getElementById('button').click();
        }
    }
</script>
<head>
    <title>Visitor Enter</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' type='text/css' href='/stylesheets/main.css' />
    <link href="https://fonts.googleapis.com/css?family=Abel|Cuprum|Montserrat|Roboto|Open+Sans+Condensed:300" rel="stylesheet">
</head>

<body style="margin:0">
   <div class="container">
       <div id="one" class="box1">
            <a id="button" onCLick="javascript:unhide()" class="button">Entrar</a>        
        </div>
        <div id="two" class="box2">
            <div class="text-muted">
                <img id="header-title" border="0" src="/assets/logoVisitorCode.png"  width="200" height="80">
            </div>
            <h2 class="page-header">Digite seu CPF (sem pontos) para entrar</h2>
            <form method="post" action="http://localhost:8000/auth/visitou">
                <div class="form-group">
                    <label>CPF de Usuário</label>
                    <input type="text" class="form-control" minlength="11" maxlength="11" name="CPF" placeholder="CPF">
                </div>
                <!-- <button type="submit" class="btn btn-default">Entrar</button> -->
            </form>
        </div>
    </div>
    <footer class="footer">
        <p>&copy; 2019 VisitorCode, Inc.
          <a class="outer-link" href="https://gitlab.com/BDAg/qrcodevisits">GitLab do projeto</a>
        </p>
      </footer>
</html>
