    <h2 class="page-header">Cadastro de novos visitantes!</h2>
    <form  method="post" action="http://localhost:8080/auth/registro">
        <div class="form-group">
            <label for="nome">Nome completo do Visitante</label>
            <input type="String" class="form-control" name="nome" placeholder="Nome completo do Visitante">
        </div>

        <div class="form-group">
            <label for="houseID">Número da Casa</label>
            <input type="String" class="form-control" name="houseID" placeholder="ID DA CASA">
        </div>
        <div class="form-group">
            <label for="CPF">CPF do visitante</label>
            <input type="String" class="form-control" minlength="11"  maxlength="11" name="CPF" placeholder="CPF do visitante">
        </div>

        <div class="form-group">
            <label for="corCarro">Cor do carro do visitante</label>
            <input type="String" class="form-control" name="corCarro" placeholder="Cor do carro do visitante">
        </div>

        <div class="form-group">
            <label for="cidade">Cidade de onde o visitante está vindo.</label>
            <input type="String" class="form-control" name="cidade" placeholder="cidade">
        </div>
        <button type="submit">registrar visita</button>
    </form>

    
