<!DOCTYPE html>
<html>
<head>
	<title>VisitorCode</title>
	<link rel="stylesheet" href="/css/main.css" />
	<link rel="stylesheet" href="/css/styleCopy.css" />
  <link href="https://fonts.googleapis.com/css?family=Abel|Cuprum|Montserrat" rel="stylesheet">
</head>
<body style="margin: 0;">
	<div class="container">
      <div id="header" class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            {{#if user}}
              {{!-- <li role="presentation"><a href="/">Upload</a></li> --}}
              <li role="presentation">
                <a class= "logout-button" href="/users/logout">Logout</a>
              </li>
            {{/if}}
          </ul>
        </nav>
        <div class="text-muted">
          <img id="header-title" border="0" src="/assets/logoVisitorCode.png"  width="200" height="80">
        </div>
      </div>
    <div class="row">
      <div class="col-lg-12">
        {{#if success_msg}}
          <div class="alert alert-success">{{success_msg}}</div>
        {{/if}}

        {{#if error_msg}}
          <div class="alert alert-danger">{{error_msg}}</div>
        {{/if}}

        {{#if error}}
          <div class="alert alert-danger">{{error}}</div>
        {{/if}}
        
        {{{body}}}
      </div>

        
      </div>

      <footer class="footer">
        <p>&copy; 2019 VisitorCode, Inc.
          <a class="outer-link" href="https://gitlab.com/BDAg/qrcodevisits">GitLab do projeto</a>
        </p>
      </footer>

    </div> <!-- /container -->
  </div>
</body>
</html>
